*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    margin-bottom: 40px;
}

.main{
    display: inline-block;
    margin: 40px 150px;
}

.p_tag{
    margin: 70px 0px 70px 70px;
}

.bordersolid{
    border: solid 1px #000;
}

.divclass{
    display: inline-block;
}




.border_q2{
    border-top: solid 1px greenyellow;
    border-left: solid 1px greenyellow;
    border-bottom: solid 1px greenyellow;
}


.divclass2{
    display: inline-block;
    padding: 70px 0px 70px 70px;
}

.divclass3{
    display: inline-block;
    border: solid 1px red;
    padding:  70px 0px;
}

.p3{
    border: solid greenyellow 1px;
}
.div5{
    display: inline-block; 
    border: solid 0.5px #ccc;
}

.span5{
    margin: 70px 70px 70px 70px;
     display: inline-block;
     border: solid 1px red;
}

.div6{
    padding: 70px;
    border: solid 1px red;   
}

.span6{

}